<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dream Game</title>
        <link rel="stylesheet" type="text/css">
           
               
        </style>
    </head>
    <body>
        <div id="root">
        </div>
        <div id="menu"></div>
    </body>
</html>